* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.mainheader {
    padding-left: 8%;
    padding-top: 1%;
    position: relative;
    size-adjust: auto;
}

.about {
    font-size: 20px;
}